# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.AM_Template.iml
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\markt\Desktop\AM_Template\.idea\.idea.AM_Template\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
